In [1]:
!pip install mlxtend

Collecting mlxtend
  Downloading mlxtend-0.24.0-py3-none-any.whl.metadata (7.3 kB)
Requirement already satisfied: scipy>=1.16.3 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from mlxtend) (1.17.0)
Requirement already satisfied: numpy>=2.3.5 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from mlxtend) (2.4.1)
Requirement already satisfied: pandas>=2.3.3 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from mlxtend) (3.0.0)
Requirement already satisfied: scikit-learn>=1.8.0 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from mlxtend) (1.8.0)
Requirement already satisfied: matplotlib>=3.10.8 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from mlxtend) (3.10.8)
Requirement already satisfied: joblib>=1.5.2 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from mlxtend) (1.5.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (1.3.3)
Requirement already satisfied: cycler>=0.10 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (4.61.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (1.4.9)
Requirement already satisfied: packaging>=20.0 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (26.0)
Requirement already satisfied: pillow>=8 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (12.1.0)
Requirement already satisfied: pyparsing>=3 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (3.3.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from matplotlib>=3.10.8->mlxtend) (2.9.0.post0)
Requirement already satisfied: tzdata in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from pandas>=2.3.3->mlxtend) (2025.3)
Requirement already satisfied: six>=1.5 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.10.8->mlxtend) (1.17.0)
Requirement already satisfied: threadpoolctl>=3.2.0 in c:\users\legion\desktop\k_means\.venv\lib\site-packages (from scikit-learn>=1.8.0->mlxtend) (3.6.0)
Downloading mlxtend-0.24.0-py3-none-any.whl (1.4 MB)
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 0.0/1.4 MB ? eta -:--:--
   ---------------------------------------- 1.4/1.4 MB 7.7 MB/s  0:00:00
Installing collected packages: mlxtend
Successfully installed mlxtend-0.24.0

In [2]:
import pandas as pd
from mlxtend.frequent_patterns import apriori, association_rules # Import association_rules
from mlxtend.preprocessing import TransactionEncoder

In [3]:
df = pd.read_csv('transaction.csv')
df

  TransactionID                            Items
0            T1           Milk,Bread,Butter,Eggs
1            T2          Milk,Bread,Cheese,Juice
2            T3         Bread,Butter,Cheese,Eggs
3            T4             Milk,Cheese,Eggs,Jam
4            T5  Milk,Bread,Butter,Cheese,Apples
5            T6             Bread,Eggs,Jam,Juice
6            T7   Milk,Bread,Butter,Eggs,Bananas
7            T8          Butter,Cheese,Jam,Juice
8            T9   Milk,Bread,Eggs,Apples,Bananas
9           T10          Milk,Butter,Cheese,Eggs

In [6]:
transactions = []
for item_string in df['Items']:
    transaction = [item.strip() for item in item_string.split(',')]
    transactions.append(transaction)

In [7]:
transactions

[['Milk', 'Bread', 'Butter', 'Eggs'],
 ['Milk', 'Bread', 'Cheese', 'Juice'],
 ['Bread', 'Butter', 'Cheese', 'Eggs'],
 ['Milk', 'Cheese', 'Eggs', 'Jam'],
 ['Milk', 'Bread', 'Butter', 'Cheese', 'Apples'],
 ['Bread', 'Eggs', 'Jam', 'Juice'],
 ['Milk', 'Bread', 'Butter', 'Eggs', 'Bananas'],
 ['Butter', 'Cheese', 'Jam', 'Juice'],
 ['Milk', 'Bread', 'Eggs', 'Apples', 'Bananas'],
 ['Milk', 'Butter', 'Cheese', 'Eggs']]

In [24]:
te = TransactionEncoder()
te_array = te.fit(transactions).transform(transactions)
df_encoded = pd.DataFrame(te_array, columns=te.columns_)
df_encoded

   Apples  Bananas  Bread  Butter  Cheese   Eggs    Jam  Juice   Milk
0   False    False   True    True   False   True  False  False   True
1   False    False   True   False    True  False  False   True   True
2   False    False   True    True    True   True  False  False  False
3   False    False  False   False    True   True   True  False   True
4    True    False   True    True    True  False  False  False   True
5   False    False   True   False   False   True   True   True  False
6   False     True   True    True   False   True  False  False   True
7   False    False  False    True    True  False   True   True  False
8    True     True   True   False   False   True  False  False   True
9   False    False  False    True    True   True  False  False   True

In [25]:
frequent_itemsets = apriori(df_encoded, min_support=0.4, use_colnames=True)
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [26]:
rules[['antecedents', 'consequents', 'support', 'confidence']]

          antecedents         consequents  support  confidence
0   frozenset({Eggs})  frozenset({Bread})      0.5    0.714286
1  frozenset({Bread})   frozenset({Eggs})      0.5    0.714286
2  frozenset({Bread})   frozenset({Milk})      0.5    0.714286
3   frozenset({Milk})  frozenset({Bread})      0.5    0.714286
4   frozenset({Eggs})   frozenset({Milk})      0.5    0.714286
5   frozenset({Milk})   frozenset({Eggs})      0.5    0.714286

In [27]:
rules['antecedents'] = rules['antecedents'].apply(lambda x: ', '.join(list(x)))
rules['consequents'] = rules['consequents'].apply(lambda x: ', '.join(list(x)))
rules[['antecedents', 'consequents', 'support', 'confidence']]

  antecedents consequents  support  confidence
0        Eggs       Bread      0.5    0.714286
1       Bread        Eggs      0.5    0.714286
2       Bread        Milk      0.5    0.714286
3        Milk       Bread      0.5    0.714286
4        Eggs        Milk      0.5    0.714286
5        Milk        Eggs      0.5    0.714286